.scrape {
    height: 20vh;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.scrape-url-input {
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    width: 30%;
    font-weight: bold;
    padding-bottom: .4rem;
}

.scrape-submit-button {
    border: 0;
    padding: .6rem 1.4rem;
    font-weight: bold;
    transition: .2s ease-in-out all;
    /* box-shadow: 0 2px 2px 2px rgb(179, 140, 90); */
}

.scrape-submit-button:hover {
    background-color: black;
    color: tan;
}

.scrape-submit-button:active {
    background-color: rgb(92, 92, 92);
}
